body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}
.container {
  width: 1200px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}
.bold {
  font-weight: bold;
}
.center {
  text-align: center;
  height: 22px;
}

/* PRZYCISKI */
.btn {
  margin: 0 15px;
}
.btn button {
  width: 50px;
  height: 50px;
}

.row {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto;
}

.game-button {
  border: none;
  border-radius: 50%;
  font-size: 30px;
}

.output2, .output {
  color: #e55039;
}
.new-game-button{
  width: 150px;
  height: 100px;
  border: none;
  border-radius: 20%;
  font-size: 20px;
  font-weight: bold;
}

/************* MODAL ***********/
.header-modal{
  text-align: center;
}
.paragraph-modal{
  font-size: 28px;
  text-align: center;
  font-weight: bold;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  
  &.show {
    display: block;
  }
}
.modal {
  background: #fff;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    color: #000;
    text-decoration: none;
  }
  
  header {
    font-size: 20px;
    line-height: 30px;
    min-height: 30px;
    font-weight: bold;
    padding: 0 25px;
  }

  .content {
    min-height: 30px;
    padding: 5px 0;
  }
}
/****** TABELA W MODALU *******/

.modal th, .modal tr {
  text-align: center;
}